<div class="container text-center" *ngIf="showLoader">
  <div class="text-center">
      <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showLoader">
  <div class="container-fluid">
    <div class="row pt-4">
      <div style="font-size: 28px !important;font-weight: 500" class="col-md-8 col-sm-12 offset-md-2">
        <span>Coronavirus(COVID-19) Statistics({{country}})<span style="font-size: 11px;float:right;">
          as of {{as_of}}
        </span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3 padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-warning bordr" align="center">
            <i class="fas fa-hospital-user"></i>Total Confirmed Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{totalConfirmed | number}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-6 col-lg-4 col-xl-3 padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-secondary bordr" align="center">
            <i class="fas fa-hospital-user"></i> Total Death Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{totalDeaths| number}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-6 col-lg-4 col-xl-3 padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-success bordr" align="center">
            <i class="fas fa-hospital-user"></i> Total Recovered Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{totalRecovered| number}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-6 col-lg-4 col-xl-3 padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bordr" align="center" style="background-color: #fc4103;">
            <i class="fas fa-hospital-user"></i> Total Critical Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{totalCritical| number}}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4 offset-md-1">
      <div style="font-size: 16px !important;font-weight: 500; top:8px" class=" offset-sm-2 col-md-2 col-sm-2">
        <label for="c">Select Country</label>
      </div>
      <div class="col-md-5 col-xs-2 col-sm-2" style="padding-top:6px">
        <select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
          <option [value]="con.code" *ngFor='let con of countries'>{{con.name}}</option>
        </select>
      </div>
    </div>

    <div class="row pt-4">
      <div style="font-size: 20px !important;font-weight: 500" class="col-md-8 col-sm-12 offset-md-2">
        <span>Coronavirus (COVID-19) Graph({{country}})</span>
      </div>
      <div class="col-md-9 col-sm-12 ">
        <div id="chart">
          <apx-chart *ngIf="showChart" [series]="chartOptions.series" [chart]="chartOptions.chart"
            [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels"
            [stroke]="chartOptions.stroke" [plotOptions]="chartOptions.plotOptions" [markers]="chartOptions.markers"
            [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip"></apx-chart>
        </div>
      </div>
      <!-- <div class="col-xs-8 col-md-6 col-lg-2 col-xl-3"> -->
      <div class="col-sm-8 col-xs-8 col-md-3 col-lg-4 col-xl-3 padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-warning bordr" align="center">
            <i class="fas fa-hospital-user"></i> Today's Confirmed Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{todayConfirmed| number}}</h5>
          </div>
        </div>
        <div class="padding-0">
          <div class="card" style="border-radius: 17px;">
            <div class="card-header bg-secondary bordr" align="center">
              <i class="fas fa-hospital-user"></i> Today's Death Cases
            </div>
            <div class="card-body">
              <h5 align="center" class="card-title">{{todayDeaths| number}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>