<nav class="navbar navbar-expand-lg sticky-top navbar-dark indigo" style="background-color: #044fc7;">
  <a class="navbar-brand" href="#">
    <img src="../assets/corona-virus-1.png" width="30" height="30" class="d-inline-block align-top"
      alt="">
    COVID-19 Tracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="india">India</a>
      <a class="nav-item nav-link" routerLink="country">Country-wise</a>
      <a class="nav-item nav-link" routerLink="world">World</a>
      <!-- <a class="nav-item nav-link" routerLink="map">Map</a> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>