<div class="container-fluid text-center" *ngIf="showLoader">
    <div class="text-center">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
</div>

<div class="container-fluid" *ngIf="!showLoader">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <fusioncharts width="{{mapwidth}}" height="{{mapheight}}" type="india" [dataSource]="dataSource"
                (entityRollOver)="over($event)" (entityRollOut)="out($event)">
            </fusioncharts>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="row" style="position:relative;top:35px;">
                <div class="col-6">
                    Total Cases({{totalObj['state']}})<br>
                    Death Rate : {{(deathRate?deathRate:0) | number}}%<br>Recovered Rate : {{(recoveredRate?recoveredRate:0) | number}}%
                </div>
                <div class="col-6">
                    <!-- Default switch -->
                    <!-- <div class="custom-control custom-switch"> -->
                        <span style="font-size: 11px;float: right;">as of {{as_of}}</span>
                        <select class="form-control" id="c" #input (change)='over(input.value)'
                            [(ngModel)]='draggedState'>
                            <option value="india">India</option>
                            <option [value]="state.state" *ngFor='let state of dataSource["data"]'>{{state.state}}
                            </option>
                        </select>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row rowtop justify-content-center">
                <div class="col-md-3 col-6 p-1">
                    <div class="card" style="border-radius: 17px;max-width: 160px;">
                        <div class="card-header bg-warning header" align="center">
                            <i class="fas fa-hospital-user"></i>Confirmed
                        </div>
                        <div class="card-body">
                            <h5 align="center" class="card-title">{{totalObj['confirmed']| number}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 p-1">
                    <div class="card" style="border-radius: 17px;max-width: 160px;">
                        <div class="card-header bg-success header" align="center">
                            <i class="fas fa-clinic-medical"></i>Recovered
                        </div>
                        <div class="card-body">
                            <h5 align="center" class="card-title">{{totalObj['recovered']| number}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 p-1">
                    <div class="card" style="border-radius: 17px;max-width: 160px;">
                        <div class="card-header bg-secondary header" align="center">
                            <i class="fas fa-head-side-virus"></i>Death
                        </div>
                        <div class="card-body">
                            <h5 align="center" class="card-title">{{totalObj['deaths']| number}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 p-1">
                    <div class="card" style="border-radius: 17px;max-width: 160px;">
                        <div class="card-header header" align="center" style="background-color:#fc7b03">
                            <i class="fas fa-head-side-mask"></i>Active
                        </div>
                        <div class="card-body">
                            <h5 align="center" class="card-title">{{totalObj['active']| number}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div id="chart">
                    <apx-chart *ngIf="showchart" [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels"
                        [stroke]="chartOptions.stroke" [plotOptions]="chartOptions.plotOptions"
                        [markers]="chartOptions.markers" [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>