.header{
    font-size: 14px;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}

.rowtop{
    position: relative;
    top: 40px;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }