.center_items{
    justify-content: center;
}
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-bottom:5px;
    padding-top:8px;
}
.bordr{
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}