<div class="container text-center" *ngIf="showLoader">
  <div class="text-center">
      <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showLoader">
  <div class="container-fluid">
    <div class="row pt-4 offset-md-1">
      <div style="font-size: 28px !important;font-weight: 500" class="col-md-8 col-sm-12 offset-md-2">
        <span>Coronavirus (COVID-19)
          Statistics (Global)</span>
      </div>
    </div>

    <div class="row offset-md-1">
      <div class="col-sm-8 col-xs-8 col-md-auto col-sm-auto padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-warning bordr" align="center">
            <i class="fas fa-hospital-user"></i>Total Confirmed Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{countryData['confirmed'] | number}}</h5>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-8 col-xs-8 col-md-3 col-lg-4 col-xl-3 padding-0"></div> -->
      <div class="col-sm-8 col-xs-8 col-md-auto col-sm-auto padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-success bordr" align="center">
            <i class="fas fa-clinic-medical"></i>Total Recovered Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{countryData['recovered'] | number }}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-auto col-sm-auto padding-0 ">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-secondary bordr" align="center">
            <i class="fas fa-head-side-virus"></i>Total Death Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{countryData['deaths'] | number}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-auto col-sm-auto padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bordr" align="center" style="background-color: #fc4103;">
            <i class="fas fa-head-side-cough"></i>Total Critical cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{countryData['critical'] | number}}</h5>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-8 col-xs-8 col-md-auto col-sm-auto padding-0 ">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bordr" align="center" style="background-color:#fc7b03">
            <i class="fas fa-head-side-mask"></i> Total Active cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{countryData['active'] | number}}</h5>
          </div>
        </div>
      </div> -->
    </div>


    <div class="row offset-md-0 padding-0 ">
      <div class="col-md-4">
        <apx-chart [series]="chart1options.series" [chart]="chart1options.chart" [colors]="chart1options.colors"
          [yaxis]="chart1options.yaxis" [dataLabels]="commonOptions.dataLabels" [markers]="commonOptions.markers"
          [stroke]="commonOptions.stroke" [grid]="commonOptions.grid" [xaxis]="commonOptions.xaxis"
          [tooltip]="commonOptions.tooltip"></apx-chart>
        <div>Confirmed cases</div>
      </div>
      <div class="col-md-4">
        <apx-chart [series]="chart2options.series" [chart]="chart2options.chart" [colors]="chart2options.colors"
          [yaxis]="chart2options.yaxis" [dataLabels]="commonOptions.dataLabels" [markers]="commonOptions.markers"
          [stroke]="commonOptions.stroke" [grid]="commonOptions.grid" [xaxis]="commonOptions.xaxis"
          [tooltip]="commonOptions.tooltip"></apx-chart>
        <div>Recovered cases</div>
      </div>
      <div class="col-md-4">
        <apx-chart [series]="chart3options.series" [chart]="chart3options.chart" [colors]="chart3options.colors"
          [yaxis]="chart3options.yaxis" [dataLabels]="commonOptions.dataLabels" [markers]="commonOptions.markers"
          [stroke]="commonOptions.stroke" [grid]="commonOptions.grid" [xaxis]="commonOptions.xaxis"
          [tooltip]="commonOptions.tooltip"></apx-chart>
        <div>Death cases</div>
      </div>
    </div>

    <div class="row padding-0 offset-md-2 ">
      <div class="col-md-12 offset-md-1 padding-0">
        <span style="font-size: 28px !important;font-weight: 500">Today's Statistics
          (Global)</span>
        <span style="font-size: 15px !important;font-weight: 500">as of {{dailyData[0]['updated_at']}}</span>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-3 padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-warning bordr" align="center">
            <i class="fas fa-hospital-user"></i>Today's Confirmed Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{dailyData[0]['new_confirmed'] | number}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-3  padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-success bordr" align="center">
            <i class="fas fa-clinic-medical"></i>Today's Recovered Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{dailyData[0]['new_recovered'] | number }}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-3  padding-0">
        <div class="card" style="border-radius: 17px;">
          <div class="card-header bg-secondary bordr" align="center">
            <i class="fas fa-head-side-virus"></i>Today's Death Cases
          </div>
          <div class="card-body">
            <h5 align="center" class="card-title">{{dailyData[0]['new_deaths'] | number}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-0">
      <div class="col-md-12">
        <highcharts-chart [Highcharts]="HC" [constructorType]="chartConstructor" [options]="chartOptions"
          [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="true" style=" display: block;">
        </highcharts-chart>
      </div>
    </div>
  </div>
</div>